
.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: inline;
    align-self: center;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    position: relative;
    

}

.container--login {
    text-align: center;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    text-align: center;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}




.container {
    object-fit: contain;
    position: relative;
    justify-content: center;
    height: 100%;
    align-items: center;
    top:30%;


  }
  
 

  /* Bottom right text */
  .site-logo {
    top: 10%;
    object-fit: contain;
    position: relative;
    width: 75%;
    top:-50px;
    height: 50%
  }

.loginPage{
    display: flex;
    position: relative;
    height: 100%;
}

.link--register{
    position: relative;
    display: flex;
    justify-content: center;
    top: 230px;
    object-fit: contain;
    min-width: 750px;
}