
#all-properties-container{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100vh;
}

#all-properties-header{
    position: absolute;
    z-index: 8;
    background-color: rgb(193, 174, 174, .5);
    font-size: 4em;
    border-radius: 10%;
    padding: .1em;
    margin: .1em;
    left: 1%;
}

.data-download{
    font-size: 1em;
}

.properties-map{
    position: relative;
    width: 95%;
    height: 50%;
    align-items: center;
}

.properties-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    max-height: 50%;

}

.propertyContainer{
    display: flex;
    border: 2px solid gray;
    margin: 1em;
    border-radius: 10px;
    width: 100%;
}




.propertyContainerInfo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.propertyThumbnail{
    width: 100%;
    height:100%;
}


.buttonsContainer{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.thumbnailContainer {
    position: relative;
    width: 30%;
    max-width: 200px;
  }



.thumbnailPropertyType{
    color:white;
    position:absolute;
    top:3px;
    left:3px;
    background-color: black;
    border-radius: 10px;
    opacity: 75%;
    padding: 3px;
    width: fit-content;

  }

  .thumbnailPropertyStatus{
    color:black;
    background-color: white;
    position:absolute;
    bottom:3px;
    left:3px;
    border-radius: 10px;
    opacity: 75%;
    padding: 3px;

  }

table{
    display: flex;
    justify-content: center;
    text-align: center;
}