
.contentContainer{
    width:80%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.propertiesHeader{
    width: 100%;
    height:100px;
    display: flex;
    flex-direction: row;
    border: 2px solid gray;
}

.propertyContainerInfo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}




.buttonsContainer{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.propertyTypeContainer{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
}

.propertyTypeTable{
    width: 100%;
}

.optionButton{
    width:33%;
}

.propertyContainer{
    display: flex;
    border: 2px solid gray;
    margin: 1em;
    border-radius: 10px;
}

.thumbnailContainer {
    position: relative;
    width: 30%;
  }

.propertyThumbnail{
    width: 100%;
    position: relative;
}

.thumbnailPropertyType{
    color:white;
    position:absolute;
    top:3px;
    left:3px;
    background-color: black;
    border-radius: 10px;
    opacity: 75%;
    padding: 3px;

  }

  .thumbnailPropertyStatus{
    color:black;
    background-color: white;
    position:absolute;
    top:3px;
    right:3px;
    border-radius: 10px;
    opacity: 75%;
    padding: 3px;

  }

table{
    display: flex;
    justify-content: center;
    text-align: center;
}