.content-header{
  position: relative;
  object-fit: contain;
}


.imageContainer {
    position: relative;
  }
  
  /* Bottom right text */
  .siteLogo {
    position: absolute;
    top: 10px;
    left: 35%;
    width: 30%;
  }
  
  .prop-image{
    width: 100%;
  }

  .content-header-text{
    position: absolute;
    left: 10%;
    color:white;
    font-size: 2em;
    top: 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;
  }