.content-header{
  position: relative;
  display: flex;
  border: 3px solid green;
  justify-content: space-between;
}

.property-task-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  align-items: center;
}
  

.prop-image-container{
  width: 100%;
  justify-content: left;
}

.prop-image{
  border: 3px solid red;
  object-fit: contain;
  width: 100%;


}

  .content-header-text{
    position: absolute;
    left: 10%;
    color:white;
    font-size: 2em;
    top: 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

.property-task-list-table{
  width: 100%;
}