#all-content{
    display: flex;
    position: relative;
}

#nav-bar{
    width: 20%;
    height: 100vh;
    object-fit: contain;
    background-color: rgba(137, 165, 189, 0.404);
    z-index: 4;

}

#application-views{
    width: 80%;
    height: 100vh;
    z-index: 2;
    display: flex;

}