body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#all-content{
  display: flex;
  flex-direction: column;
}

#nav-bar{
  width: 100vw;
  height: 10vh;
  max-height: 100px;
  object-fit: contain;
  background-color: rgba(137, 165, 189, 0.404);

}

#application-views{
  width: 100vw;
  height: 85%;

}